<h1>Bem vindo !</h1>
<p>Com este sistema, você consegue cadastrar os produtos de todas suas filiais, e sempre manter os preços atualizados, assim, responsáveis por marcenarias sempre terão em mãos o valor exato para manter orçarmento, asism, sem precisar entrar em contato diretamente com a empresa.</p>
